/* My Style */

$fontsize: 12px;
$textcolorsuccess: #00FF00;
$textcolorwarning: #FF0000;

.info .success .warning {
    font-size: $fontsize;
}
.success {
    color: $textcolorsuccess;
}
.warning {
    color: $textcolorwarning;
}
